/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: white;
    padding: 30px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.centralizada {
    float: right;   /* Move a imagem para a direita */
    margin-right: 40px; /* Adiciona um espaço à direita */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho da tela */
    height: auto;    /* Mantém a proporção da imagem */
}

section {
    padding: 50px;
}

footer {
    color: white;
    text-align: left;
    padding: 20px;
}

.social-media {
    display: flex;
    justify-content: left; /* Centraliza os ícones */
    gap: 20px;  /* Espaço entre os ícones */
}

.social-media a img {
    width: 40px;   /* Ajuste o tamanho conforme necessário */
    height: 40px;  /* Ajuste o tamanho conforme necessário */
    transition: transform 0.3s; /* Efeito de transição ao passar o mouse */
}

.social-media a:hover img {
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}